[Unit]
Description=Simple file sync program
After=network.target

[Service]
Type=simple
WorkingDirectory={{ destination }}
ExecStart=/usr/bin/python3 -u {{ destination }}/main.py -c {{ config_location }}
Restart=on-failure
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
